body{
  background-color: #575555;
  color: white;
  display:flex; /*sinesto no funciona el centrado*/
  justify-content: center;
  align-items: center;
}

label{
  display:block;
}

input{
  width: 100%;
}
